.dialogues {
  max-width: 1200px;
  padding: 10px;
  display: grid;
  grid-template-columns: 3fr 8fr;
}

.dialoguesItem {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.dialoguesItem .active {
  margin-left: 10px;
  color: tomato;
}

.tbCont {
  display: flex;
  margin: 10px;
}
