.userPhoto {
    border-radius: 10px;
    /* box-shadow: 5px 5px 10px #cecece, -5px -5px 10px #ffffff; */
    height: 100px;
}

.main {
    padding: 10px;
}

span {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}
