.postsBlock {
    padding: 10px;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

textarea {
    resize: none;
    padding: 10px;
    font-weight: 800;
}

button {
    outline: none;
    border-radius: 10px;
    border: none;
    margin-left: 5px;
    padding: 10px 13px 10px 13px;
}

button:hover {
    color: #ffffff;
    cursor: pointer;
    background-color: rgb(255, 150, 30, 10);
}
