.header {
    z-index: 1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;

    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-between;
    grid-area: head;
    background: #f0f0f0;
    /* box-shadow: 5px 5px 12px #c4c4c4, -5px -5px 12px #ffffff; */
}

.loginBlock {
    padding: 10px;
}

.loginBlock a {
    text-decoration: none;
    color: #ffffff;
}

.login {
    color: green;
}

.logout {
    color: rgb(189, 39, 39);
}

/* .header:hover {
  box-shadow: 0px 0px 0px 0px rgba(88, 88, 88, 0.75);

  transition: 0.1s ease-in;
} */

.header img {
    border-radius: 20px;
    margin: 5px;
    height: 50px;
}
