.navbar {
    margin: 5px 5px 0px 0px;
    border-radius: 15px;
    padding: 20px;
    grid-auto-flow: row;
    background: #47b351;
    /* box-shadow: 5px 5px 12px #c4c4c4, -5px -5px 12px #ffffff; */
    grid-area: navbar;
}

/* .navbar:hover {
  box-shadow: 0px 0px 0px 0px rgba(88, 88, 88, 0.75);
} */

.item a.active {
    padding-left: 10px;
    border-left: 3px solid #307a37;
    /* margin-left: 10px; */
    color: #307a37;
}

.item a {
    text-decoration: none;
    color: #fffaf7;
}

.item a:hover {
    padding-left: 5px;
    border-left: 1px solid #307a37;
    transition: 0.1s ease-in;
    color: #307a37;
}
