.navbar {
    border-radius: 5px;
    padding: 20px;
    grid-auto-flow: row;
    background: #1f2833;
    /* box-shadow: 5px 5px 12px #c4c4c4, -5px -5px 12px #ffffff; */
    grid-area: navbar;
}

/* .navbar:hover {
  box-shadow: 0px 0px 0px 0px rgba(88, 88, 88, 0.75);
} */

.item a.active {
    padding-left: 10px;
    border-left: 3px solid #66fcf1;
    /* margin-left: 10px; */
    color: #379683;
}

.item a {
    text-decoration: none;
    color: #fffaf7;
}

.item a:hover {
    padding-left: 5px;
    border-left: 1px solid #66fcf1;
    transition: 0.1s ease-in;
    color: #66fcf1;
}
@media screen and (max-width: 900px) {
    .navbar {
        border-bottom-left-radius: 0;
    }
}
