.form {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.form input {
    margin-bottom: 10px;
}

/* .input {
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
} */

.checkbox:hover {
    margin-top: 5px;
    margin-bottom: 5px;
    user-select: none;
    transform: scale(1.1);
}

/* .submitButton {
    width: 200px;
    padding: 3px;
    margin-top: 30px;
} */

.captcha {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
