.form {
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    padding: 10px;
}

.input {
    font-weight: 300;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
}

.checkbox:hover {
    margin-top: 5px;
    margin-bottom: 5px;
    user-select: none;
    transform: scale(1.1);
}

.submitButton {
    width: 200px;
    padding: 3px;
    margin-top: 30px;
}

.captcha {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
