:root {
    --main-color: rgb(255, 150, 30);
}

* {
    transition: 0.2s;
    font-family: 'Nunito', 'fira code';
}

.app-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    width: 1200px;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
        'head head'
        'navbar cont';
}

.app-wrapper-content {
    color: black;
    box-shadow: 5px 5px 11px 0px rgba(88, 88, 88, 0.75);
    border-bottom-right-radius: 10px;
    grid-area: cont;
    background-color: rgb(219, 219, 219);
}
