:root {
    --main-color: rgb(255, 150, 30);
}

* {
    /* outline: none; */
    transition: 0.2s;
    /* font-family: 'fira code'; */
}

/* *:focus {
    outline: none;
    box-shadow: 0 0 0 2pt #ececee;
} */

body {
    background: #0c1014;
}

.ant-btn {
    padding: 0px !important;
}

/* textarea {
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;
    resize: none;
    padding: 10px;
    font-weight: 800;
} */
/* 
input {
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px #d9d9d9, -5px -5px 10px #ffffff;
    resize: none;
    padding: 10px;
    font-weight: 800;
} */

/* button {
    background: #b6b6b68e;
    box-shadow: 5px 5px 12px #c4c4c4, -5px -5px 12px #ffffff;
    outline: none;
    border-radius: 5px;
    border: none;
    margin: 5px;
    padding: 8px 13px 8px 13px;
}

button:hover {
    color: #66fcf1;
    background: #1f2833;
    box-shadow: inset 5px 5px 10px #c4c4c4, inset -5px -5px 10px #ffffff;
    cursor: pointer;
} */

.notFoundPage {
    padding: 10px;
}

.app-wrapper {
    margin: 0 auto;
    grid-gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    width: 1200px;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
        'head head'
        'navbar cont';
}

.app-wrapper-content {
    /* border-bottom-left-radius: 20px; */
    border-radius: 5px;
    color: black;
    padding: 10px;
    background: #c5c6c7;
    /* box-shadow: 5px 5px 12px #c4c4c4, -5px -5px 12px #ffffff; */
    grid-area: cont;
}

@media screen and (max-width: 900px) {
    .app-wrapper {
        width: 100%;
    }
    .app-wrapper-content {
        border-bottom-right-radius: 0;
    }
}
